<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>

    <title>Create Role</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- APP name -->
            <a class="navbar-brand" href="#">IS212 APP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <!-- home -->
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>

                    <!-- List of Available Roles -->
                    <li class="nav-item">
                        <a class="nav-link" href="view_role_listings (HR).html">List of Available Roles</a>
                    </li>
                </ul>

                <!-- Profile -->
                <div class="nav-item dropdown d-flex me-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown">
                        Profile
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Skills Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Table for listings -->

    <div id="main_container" class="container">
        <div class="d-flex">
            <h1 class="display-4">New Role</h1>
            <div class="d-flex align-items-end ms-auto me-0 mb-3"><a href="view_role_listings (HR).html"><button
                        class="btn btn-outline-primary" type="submit">Back</button></a></div>
        </div>
        <form>
            <table id="roleTable" class='table table-striped' border='1'>
                <thead class='thead-dark'>
                    <tr>
                        <th>Role Title</th>
                        <th>Description</th>
                        <th>Skill(s)</th>
                        <th>Deadline</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- form for role creation -->
                    <tr>
                        <td><input type="text" class="form-control" placeholder="Role Title" aria-label="Role Title"
                                v-model="role_name" aria-describedby="basic-addon1"></td>
                        <td><input type="text" class="form-control" placeholder="Description" aria-label="Description"
                                v-model="role_descr" aria-describedby="basic-addon1"></td>
                        <td><input type="text" class="form-control" placeholder="Skill(s)" aria-label="Skill(s)"
                                v-model="skills_required" aria-describedby="basic-addon1"></td>
                        <td><input type="date" class="form-control" placeholder="YYYY-MM-DD" aria-label="Deadline"
                                v-model="role_deadline" aria-describedby="basic-addon1"></td>
                    </tr>
                </tbody>
            </table>
        </form>

        <p>
            <!-- need to code it to update the current list -->
            <button @click="saveNewrole" class="btn btn-outline-primary" type="submit">Save</button>
        </p>



        <script>
            const vm = new Vue({
                el: '#main_container',
                data: {
                    role_name: "",
                    role_descr: "",
                    skills_required: "",
                    role_deadline: Date(),
                },
                methods: {
                    saveNewrole: function () {
                        console.log(this.role_deadline);
                        axios.post('http://localhost:5000/create_role_listing', {
                            role_name: this.role_name,
                            role_descr: this.role_descr,
                            skills_required: this.skills_required,
                            role_deadline: this.role_deadline
                        })
                            .then(response => {
                                window.location.replace("view_role_listings (HR).html");
                                return false;
                            })
                            .catch(error => { this.error = error.response.data.message });
                    }
                },
                // mounted: function () {
                //     axios.get('http://localhost:5000/create_role_listing')
                //         .then(response => {
                //             this.roles = response.data.data;
                //         })
                //         .catch(error => alert(error));
                // }
            });
        </script>
</body>

</html>