<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head><script src="assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/home/">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>



  </head>
  <body>
  <div id="app">

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Skill Based Role Portal</h1>
        <p class="col-lg-10 fs-4">Description of the portal...</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <div class="form-floating mb-3">
            <input v-model="staffId" type="text" class="form-control" id="floatingInput" placeholder="190004">
            <label for="floatingInput">Staff ID</label>
          </div>
          <div class="form-floating mb-3">
            <input v-model="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3">

          </div>
          <button class="w-100 btn btn-lg btn-dark" type="button" v-on:click="signin()">Sign In</button>
        </form>
        
      </div>
      </div>
    </div>
  </div>


  <script>
    const app = new Vue({
      data() {
        return {
          staffId: '',
          accessControlName: '',
          error: ''
        };
      },
      methods: {
        signin() {
          axios.get('http://localhost:5100/getAccessID/' + this.staffId)
            .then(response => {
              if ('Access_Control_Name' in response.data.data) {
                this.accessControlName = response.data.data.Access_Control_Name;
                this.error = '';
                console.log(this.accessControlName)
                if (this.accessControlName == 'HR') {
                  window.location.replace("../view_role_listings%20(HR).html");
                } else if (this.accessControlName == 'User' || this.accessControlName == 'Admin' || this.accessControlName == 'Manager') {
                  window.location.replace("../view_role_listings%20(Staff).html");
                }
                localStorage.setItem("staffID", this.staffId);
                /// to get value -> var staffid = localStorage['staffID'];


              } else {
                this.error = response.data.error;
                this.accessControlName = '';
              }
            })
            .catch(error => {
              console.error(error);
              alert(error);
            });
        }
      }
    });
  
    const vm = app.$mount('#app');
  </script>
  
    </script>
    </body>

    <script src="assets/dist/js/bootstrap.bundle.min.js"></script>
</html>
